body {
  background-color: #fff;
  color: #434455;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.studio {
  color: #2e2f42;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo {
  color: #4d5ae5;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.link {
  list-style: none;
  text-decoration: none;
}

/* site-nav */

.site-nav a {
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
